// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

.nav-link {
    color: white;
}

.nav-link:hover {
    color: lightgray;
}

main>.container {
    padding: 40px 0 20px 0;
}
